[v-cloak] {
    display: none;
}

.card {
    height: 100%;
}

.card button {
    bottom: 15px;
}

.container {
    margin-top: 80px;
}

.extra-info {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 80px;
    left: 0;
}